<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<context-param>
		<param-name>mail</param-name>
		<param-value>/WEB-INF/config/mail.properties</param-value>
	</context-param>
	<resource-ref>
		<description>MySql DB Connection Pool</description>
		<res-ref-name>jdbc/hotel</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<jsp-config>
		<taglib>
			<taglib-uri>customtags</taglib-uri>
			<taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
		</taglib>
	</jsp-config>
	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>ua.nure.shostalo.SummaryTask4.controllers.filters.AccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>/logIn</url-pattern>
		<url-pattern>/registration</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>UserAccessFilter</filter-name>
		<filter-class>ua.nure.shostalo.SummaryTask4.controllers.filters.UserAccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserAccessFilter</filter-name>
		<url-pattern>/request</url-pattern>
		<url-pattern>/bookNow</url-pattern>
		<url-pattern>/message</url-pattern>
		<url-pattern>/account</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ManagerAccessFilter</filter-name>
		<filter-class>ua.nure.shostalo.SummaryTask4.controllers.filters.ManagerAccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ManagerAccessFilter</filter-name>
		<url-pattern>/requestList</url-pattern>
		<url-pattern>/roomManagment</url-pattern>
	</filter-mapping>
</web-app>